body {
    background-color: rgba(201, 202, 204, 0.331);
}

.container {
    margin: 70px;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.freelancer-gig {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}